In [1]:
import pandas as pd

df = pd.read_excel('data\\Temenos.xlsx', sheet_name='Characteristics (2)')
df

c:\Users\anhvi\anaconda3\Lib\site-packages\openpyxl\worksheet\_read_only.py:79: UserWarning: Unknown extension is not supported and will be removed
  for idx, row in parser.parse():
c:\Users\anhvi\anaconda3\Lib\site-packages\openpyxl\worksheet\_read_only.py:79: UserWarning: Conditional Formatting extension is not supported and will be removed
  for idx, row in parser.parse():

,STT,Name,Value,Group,Name of mid groups
0,1,Total number of employees in the reporting per...,6616,A,Employees – Total + Breakdown by 1 and 2 Factors
1,2,Total number of employees in the reporting per...,NaN,B,Employees – By FTE (Full-Time Equivalent) + Si...
2,3,Total number of employees in the prior period ...,7566,A,NaN
3,4,Total number of employees in the prior period ...,NaN,B,NaN
4,5,"Total number of employees, broken down by gend...",Male: 4307; Female: 2309,A,NaN
...,...,...,...,...,...
93,94,percentage of employees per level and by other...,NaN,M,NaN
94,95,percentage of employees per function and by ot...,NaN,M,NaN
95,96,percentage of persons with disabilities amongs...,NaN,M,NaN
96,97,percentage of employees with disabilities with...,NaN,M,NaN
97,98,any contextual information necessary to unders...,NaN,M,NaN

In [11]:
gender = "by gender"
df.loc[df["Name"].str.contains(gender.lower()) & df["Value"].isnull(), "Value"] = "Male: ; Female: "

level_gender = "level and by gender"
df.loc[df['Name'].str.contains(level_gender.lower()), 'Value'] = \
    "Management: Male: ; Female: ; Mid-level Management: Male: %; Female: %; Individual Contributor: Male: %; Female: %"
    
df[df['Name'].str.contains(level_gender.lower())]

df.to_excel('data/Temenos_filled.xlsx', index=False)